pipeline/pl_adlsg2todatabrick_back.json
{
	"name": "pl_adlsg2todatabrick_back",
	"properties": {
		"activities": [
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "myvariable",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy/MM/dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Data Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Phase1/ETL/Read_Write_ADLS2_Files",
					"baseParameters": {
						"processed_data": {
							"value": "@variables('myvariable')",
							"type": "Expression"
						},
						"sourcetablename": "cust"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Data Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[notebooklogs_usp]",
					"storedProcedureParameters": {
						"msgname": {
							"value": {
								"value": "@activity('Data Notebook').output.runOutput",
								"type": "Expression"
							},
							"type": "String"
						},
						"rundetails": {
							"value": {
								"value": "@activity('Data Notebook').output.runPageUrl",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsAzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"myvariable": {
				"type": "String"
			}
		},
		"annotations": []
	}
}